<section class="chat">
    <h2>Chatroom</h2>
    <ul id="chat">
        <li></li>
    </ul>
    <p></p>
    <form id="chat">
        <input type="text" placeholder="Message" id="message" autocomplete="off">
        <button><span>Send</span></button>
    </form>
</section>