<dialog>
    <img src="/images/logo.svg" alt="">
    <form id="name">
        <input type="text" placeholder="enter username" id="name" autocomplete="off" required>
        <button><span>Send</span></button>
    </form>
    <p>© Dennis de Graaf <time></time></p>

</dialog>